@import "../../styles/variables";
@import "../../styles/mixins";

.contactCard {
	width: 100%;
	display: flex;
	align-items: center;

  @include cardProps($clr-light, $clr-primary);

	margin-bottom: $spacing-4;
  padding: $spacing-2 $spacing-4;


	& > p:nth-child(1) {
		width: 40%;
	}

  & > p:nth-child(2) {
    flex-grow: 1;
	}

	& > button {
		height:$input-height;
    background: transparent;
    border: none;
    

		& > img {
      height: 80%;
		}
	}
}